body{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: darkred;
}
.logo{
	color: ghostwhite;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}
.nav-links{
	display: flex;
	width: 50%;
	justify-content: space-around;
}
.nav-links a{
	color: ghostwhite;
	text-decoration: none;
	letter-spacing: 3px;
	font-size: 14px;
	font-weight: bold;
}
.nav-links li{
	list-style: none;
}
.burger{
	display: none;
	cursor: pointer;
}
.burger div{
	width: 25px;
	height: 3px;
	background-color: ghostwhite;
	margin: 3px;
}
@media screen and (max-width:1024px){
	.nav-links{
		width:50%;
	}
}
@media screen and (max-width: 768px){
	body{
		overflow-x: hidden;
	}
	.nav-links{
		position: fixed;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: darkred;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}

.nav-links li{
	opacity: 1;
}
.burger{
	display: block;
}

.nav-active{
	transform: translateX(0%);	
}

}

.container{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: palegoldenrod;
}
.Main{
	max-width: 700px;
	width: 100%;
	background: lightskyblue;
	padding: 25px 30px;
	border-radius: 5px;
}
.Main .title{
	font-size: 25px;
	font-weight: 500;
}
.Main .title:before{
	content: "";
	position: fixed;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 30px;
	background: palegoldenrod;

}
.Main form .User-details{
	display: flex;
	flex-wrap: wrap;
	justify-content:  space-between;
	margin: 20px 0 12px 0;

}
form .User-details .input-box{
	margin-bottom: 15px;
	width: calc(100% / 2 - 20px);
}
.User-details .input-box .details{
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}
.User-details .input-box input{
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid black;
	padding-left: 15px;
	font-size: 16px;
	border-bottom-width: 2px;
	transition: all 0.3s ease;

}
.User-details .input-box input:focus,
.User-details .input-box input:valid{
}

form .gender-details .gender-title{
	font-size: 20px;
	font-weight: 500;
}
form .gender-details .category{
	display: flex;
	width: 80%;
	margin: 14px 0;
	justify-content: space-between;
}
form .gender-details  .category label{
	display: flex;
	align-items: center;
}
form .gender-details  .category .dot{
	height: 18px;
	width: 18px;
	background: white;
	border-radius: 50%;
	margin-right: 10px;
	border: 5px solid transparent;
	transition: all 0.3s ease;
	
}
#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two,
#dot-3:checked ~ .category .three{
	border-color: #lightskyblue;
	background: darkred;
}
form input[type="radio"]{
	display: none;
}
form .button{
	height: 45px;
	margin: 45px 0;
}
form .button input{
	height: 100%;
	width: 100%;
	outline: none;
	color: black;
	border: none;
	font-size: 18px;
	font-weight: 500;
	border-radius: 5px;
	letter-spacing: 1px;
	background-color: palegoldenrod;
}

form .button input:hover{
	background: palegoldenrod;
}
@media (max-width: 584px){
	.container{
		max-width: 100%;
	}

	form .User-details .input-box{
		margin-bottom: 15px;
		width: 100% ;

	}
	form .gender-details .gender-title .category{
	width: 100%;
}
.container form .User-details{
	max-height: 300px;
	overflow-y: scroll;
}
.User-details::-webkit-scrollbar{
	width: 0;
}
}